<p id="notice"><%= notice %></p>

<div class="field">
    First name: <%= @employee.first_name %>
</div>

<div class="field">
    Last name: <%= @employee.last_name %>
</div>

<div class="field">
    PGY: <%= @employee.pgy %>
</div>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
